/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Start Here*/
:root{
    --dk-blue: #042940;
    --lt-blue: #185e89;
    --dk-green: #013b35;
    --turquoise:#005C53;
    --lt-green: #e1eadb;
    --dk-gray: #363432;
    --font: 'Lato','Raleway', sans-serif;
}
body{
    font-family: var(--font);
    text-align: center;
    background-color: var(--lt-green);
}
main{
    width: 1280px;
    margin: 0 auto;
}

/*Header*/
header{
    text-align: center;
    margin-top: 0;
    
}
header img{
    position: relative;
    top: -6rem;
    z-index: 0;
    width: 100%;
    height: auto;
}

h1{
    position: relative;
    top: 6rem;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
    color: var(--dk-blue);
}
header a{
    text-decoration: none;
}

nav{
    position: relative;
    top: 8rem;
    z-index: 1;
}
nav ul{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    gap: 6rem;
}

nav a{
    text-decoration: none;
    color: var(--dk-blue);
}

nav a:hover{
    text-decoration: underline;
    color: var(--lt-blue);
}

/*Home*/
h2{
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem;
    color: #FFF;
    background-color: var(--turquoise);
    margin: 0 28rem;
    margin-bottom: 2rem;

}

#intro p{
    font-size: 1.25rem;
    margin: 0 20rem 2rem 20rem;
    color: var(--dk-blue);
}

#intro{
    padding-bottom: 3rem;
}

/*Home Page Content*/

#content{
    color: var(--dk-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 4rem;
}

section p{
    font-size: 1.2rem;
    margin: 2rem 2rem 5rem 2rem;
}

section h3{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFF;
    background-color: var(--turquoise);
    padding: .5rem .5rem;
    margin: 1rem 8rem;
}

/*Footer*/

footer{
    background-color: var(--turquoise);
    font-size: 1rem;
    color: #FFF;
    padding: 2rem 0;
}

/*Contact Page*/

#contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    font-size: 1rem;
    position: relative;
    left: -6rem;
}

#message p{
    margin: 0 25rem 2rem;
}

#message h2{
    padding: 0 5rem;
}

/*Form*/

form{
    background-color: var(--turquoise);
    color: var(--dk-blue);
    font-size: 1rem;
    position: relative;
    left: -23rem;
    text-align: left;
    padding: 0 1rem;
}

p label{
    border-bottom: var(--turquoise) solid 3px;
    padding-bottom: .5rem;
    display: block;
    margin: 0 1rem .75rem 0;
}

form p{
    background-color: var(--lt-green);
    padding: 1rem 2rem;
    margin: 1rem;
}

form h3{
    background: var(--lt-green);
    padding: .5rem;
    margin-bottom: .25rem;
}

#preferred{
    background: var(--lt-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem .25rem;
    margin-bottom: .5rem;
}

input[type="submit"]{
    font-size: 1.25rem;
    font-weight: bold;
    position: relative;
    left: 3.25rem;
    background-color: var(--dk-green);
    color: #fff;
    border-radius: 4%;
    border: var(--lt-green) solid 3px;
    padding: 1rem 4rem;
    box-shadow: -6px 6px 10px var(--dk-gray);
}

input:required, textarea:required, select:required{
    border: #ae2601 solid 3px;
}

input:focus, textarea:focus, select:focus{
    outline: 3px solid var(--turquoise);
    border: none;
}

input[type="submit"]:hover{
    background-color: #002421;
    box-shadow: -3px 3px 5px var(--dk-gray);
}

