/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Start Here*/
:root{
    --dk-blue: #042940;
    --turquoise:#005C53;
    --lt-green: #e1eadb;
    --font: 'Lato','Raleway', sans-serif;
}
body{
    font-family: var(--font);
    text-align: center;
    background-color: var(--lt-green);
}
header{
    text-align: center;
    margin-top: 0;
    
}
header img{
    position: relative;
    top: -6rem;
    z-index: 0;
    width: 100%;
    height: auto;
}

h1{
    position: relative;
    top: 6rem;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
}
nav{
    position: relative;
    top: 8rem;
    z-index: 1;
}
nav ul{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    gap: 6rem;
}

nav a{
    text-decoration: none;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem;
    color: #FFF;
    background-color: var(--turquoise);
    margin-bottom: 2rem;

}
h3{
    font-size: 1.65rem;
    font-weight: bold;

}
#intro p{
    font-size: 1.25rem;
    margin: 0 20rem 0 20rem;
}

#intro{
    padding-bottom: 3rem;
}